{
    "MasterAddr": "127.0.0.1",
    "MasterPort": ":4442",
    "Addr1": "127.0.0.1",
    "Port1": ":4440",
    "Addr2": "127.0.0.1",
    "Port2": ":4441",
    "Addr3": "127.0.0.1",
    "Port3": ":4443",
    "Addr4": "127.0.0.1",
    "Port4": ":4444",
    "CertFile": "src/config/master.crt",
    "KeyFile": "src/config/master.key",
    "OutDir": "out/master"
}
