{
    "Addr": "127.0.0.1",
    "Port": ":4444",
    "CertFile": "src/config/server2.crt",
    "KeyFile": "src/config/server2.key",
    "OutDir": "out/server4",
    "ClientMaskKey": "45e29dab73c78aa70ab636e10be94a01",
    "ClientMacKey1": "a444afd5de3e81b036fd3d0c87f1d865",
    "ClientMacKey2": "3aaff6518f6140999d2c5ca5f6cce831"
}
