{
    "Addr": "127.0.01",
    "Port": ":4440",
    "CertFile": "src/config/server1.crt",
    "KeyFile": "src/config/server1.key",
    "OutDir": "out/server1",
    "ClientMaskKey": "45e29dab73c78aa70ab636e10be94a01",
    "ClientMacKey1": "a444afd5de3e81b036fd3d0c87f1d865",
    "ClientMacKey2": "3aaff6518f6140999d2c5ca5f6cce831"
}
